ignore-workspace-root-check=true
strict-peer-dependencies=false
auto-install-peers=true
#
link-workspace-packages=false
prefer-workspace-packages=true
#
hoist-pattern[]=@arktype/attest
hoist-pattern[]=*@pandacss/*
hoist-pattern[]=prettier
hoist-pattern[]=vitest
hoist-pattern[]=tsx
hoist-pattern[]=typescript
hoist-pattern[]=@types/react
hoist-pattern[]=@types/react-dom

